*{
    box-sizing: border-box;
}



/*style for size text*/
.text-14{
    font-size: 14px;
}
.text-16{
    font-size: 16px;
}
.text-18{
    font-size: 18px;
}
.text-20{
    font-size: 20px;

}

.bg-blue{
    background-color: #1269db9e!important;
}

.text-center{
    text-align: center;
}
